*{
    margin: 0px;
    padding: 0px;
}



.hero{
    background-color: black;
}
.firstone{
    background-color: black;
}
h4{
    text-align: center;
    color: blanchedalmond;
}

.subject2{
    font-family: font-family; 'Yellowtail', cursive;
    text-align: center;
    
}